[net]
# Testing
#batch=1
#subdivisions=1
# Training
 batch=64
 subdivisions=64
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 120200
policy=steps
steps=70000,100000
scales=.1,.1


[convolutional]
batch_normalize=1
filters=18
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=50
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=19
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=50
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=119
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=41
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=119
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=33
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=119
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=243
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=62
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=243
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=243
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=65
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=243
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=91
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=243
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=72
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=243
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=74
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=243
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=57
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=243
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=82
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=243
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=417
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=163
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=417
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=417
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=30
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=417
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=46
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=417
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=29
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=417
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=25
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=417
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=51
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=417
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=26
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=417
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=425
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=51
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=425
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=51
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=425
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=51
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=425
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=51
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=425
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=474
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=1000
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=491
size=1
stride=1
pad=1
activation=leaky

[maxpool]
stride=1
size=5

[route]
layers=-2

[maxpool]
stride=1
size=9

[route]
layers=-4

[maxpool]
stride=1
size=13

[route]
layers=-1,-3,-5,-6

[convolutional]
batch_normalize=1
filters=448
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=983
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=495
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=773
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=51
size=1
stride=1
pad=1
activation=linear

[yolo]
mask = 6,7,8
anchors = 10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes = 12
num = 9
jitter = .3
ignore_thresh = .7
truth_thresh = 1
random = 1

[route]
layers=-4

[convolutional]
batch_normalize=1
filters=244
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers=-1, 61

[convolutional]
batch_normalize=1
filters=255
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[maxpool]
stride=1
size=5

[route]
layers=-2

[maxpool]
stride=1
size=9

[route]
layers=-4

[maxpool]
stride=1
size=13

[route]
layers=-1,-3,-5,-6

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=507
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=51
size=1
stride=1
pad=1
activation=linear

[yolo]
mask = 3,4,5
anchors = 10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes = 12
num = 9
jitter = .3
ignore_thresh = .7
truth_thresh = 1
random = 1

[route]
layers=-4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers=-1, 36

[convolutional]
batch_normalize=1
filters=127
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[maxpool]
stride=1
size=5

[route]
layers=-2

[maxpool]
stride=1
size=9

[route]
layers=-4

[maxpool]
stride=1
size=13

[route]
layers=-1,-3,-5,-6

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=51
size=1
stride=1
pad=1
activation=linear

[yolo]
mask = 0,1,2
anchors = 10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes = 12
num = 9
jitter = .3
ignore_thresh = .7
truth_thresh = 1
random = 1

